<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 667.8 kB/s eta 0:00:09
      --------------------------------------- 0.1/6.0 MB 1.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.3/6.0 MB 2.1 MB/s eta 0:00:03
     --- ------------------------------------ 0.5/6.0 MB 2.8 MB/s eta 0:00:02
     ----- ---------------------------------- 0.9/6.0 MB 3.7 MB/s eta 0:00:02
     --------- ------------------------------ 1.5/6.0 MB 5.2 MB/s eta 0:00:01
     ------------ --------------------------- 1.9/6.0 MB 5.9 MB/s eta 0:00:01
     ------------ --------------------------- 1.9/6.0 MB 5.9 MB/s eta 0:00:01
     ------------ --------------------------- 1.9/6.0 MB 5.9 MB/s eta 0:00:01
     ------------ --------------------------- 1.9/6.0 MB 5.9 MB/s eta 0:00:01
     ------------ --------------------------- 1.9/6.0 MB 3.7 MB/s eta 0:00:02
     ------------- -------------------------- 1.9/6.0 MB 3.4 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 3.3 MB/s eta 0:00:02
     -------------- ------------------------- 2.2/6.0 MB 3.4 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 3.7 MB/s eta 0:00:01
     ------------------ --------------------- 2.7/6.0 MB 3.7 MB/s eta 0:00:01
     ------------------ --------------------- 2.7/6.0 MB 3.7 MB/s eta 0:00:01
     ------------------- -------------------- 2.9/6.0 MB 3.4 MB/s eta 0:00:01
     ---------------------- ----------------- 3.3/6.0 MB 3.7 MB/s eta 0:00:01
     ---------------------- ----------------- 3.3/6.0 MB 3.7 MB/s eta 0:00:01
     ---------------------- ----------------- 3.3/6.0 MB 3.7 MB/s eta 0:00:01
     ---------------------- ----------------- 3.3/6.0 MB 3.3 MB/s eta 0:00:01
     ---------------------- ----------------- 3.3/6.0 MB 3.3 MB/s eta 0:00:01
     ---------------------- ----------------- 3.4/6.0 MB 3.0 MB/s eta 0:00:01
     ----------------------- ---------------- 3.5/6.0 MB 3.0 MB/s eta 0:00:01
     ------------------------ --------------- 3.6/6.0 MB 3.0 MB/s eta 0:00:01
     ------------------------- -------------- 3.9/6.0 MB 3.1 MB/s eta 0:00:01
     ------------------------- -------------- 3.9/6.0 MB 3.1 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 3.1 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 3.0 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 2.9 MB/s eta 0:00:01
     ---------------------------- ----------- 4.3/6.0 MB 2.9 MB/s eta 0:00:01
     ----------------------------- ---------- 4.5/6.0 MB 2.9 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 3.0 MB/s eta 0:00:01
     -------------------------------- ------- 4.9/6.0 MB 3.0 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 3.0 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 3.1 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 3.3 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Installing collected packages: sqlalchemy
  Running setup.py install for sqlalchemy: started
  Running setup.py install for sqlalchemy: finished with status 'done'
Successfully installed sqlalchemy-1.3.9

  DEPRECATION: sqlalchemy is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.8-py3-none-any.whl (30 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\python311\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
     ---- ----------------------------------- 0.1/1.4 MB 2.1 MB/s eta 0:00:01
     ------- -------------------------------- 0.3/1.4 MB 2.8 MB/s eta 0:00:01
     ----------- ---------------------------- 0.4/1.4 MB 2.7 MB/s eta 0:00:01
     ----------------- ---------------------- 0.6/1.4 MB 3.0 MB/s eta 0:00:01
     --------------------------- ------------ 1.0/1.4 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------- 1.4/1.4 MB 4.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml): started
  Building wheel for ibm-db (pyproject.toml): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.4-py3-none-any.whl size=27750031 sha256=a1583e5e17230a96df35f8ef35e621417cff40a50d07dbe82fdeaf65a2b8e58c
  Stored in directory: c:\users\z004mbjn\appdata\local\pip\cache\wheels\13\59\9e\b4ce7cb280c4fa6ad284bd69d5fb74607277954dcfee700509
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.4 ibm_db_sa-0.3.8
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: ipython>=1.0 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\python311\lib\site-packages (from ipython-sql) (1.3.9)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ---------------------------------------- 0.0/42.8 kB ? eta -:--:--
     ---------------------------------------- 42.8/42.8 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: six in c:\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (5.6.0)
Requirement already satisfied: colorama in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\z004mbjn\appdata\roaming\python\python311\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Installing collected packages: prettytable, sqlparse, ipython-sql
  Running setup.py install for prettytable: started
  Running setup.py install for prettytable: finished with status 'done'
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

  DEPRECATION: prettytable is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [9]:
%sql ibm_db_sa://jpj09804:U0x5BP5usrzq7ehS@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb?security=SSL

In [ ]:
%sql ibm_db_sa://

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql select * from SYSCAT.TABLES where TABNAME = 'SPACEX'
%sql select distinct(name), coltype, length from sysibm.syscolumns where tbname = 'SPACEX'

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.
 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('BOOSTER_VERSION', 'VARCHAR ', 14),
 ('CUSTOMER', 'VARCHAR ', 57),
 ('DATE', 'DATE    ', 4),
 ('LANDING__OUTCOME', 'VARCHAR ', 22),
 ('LAUNCH_SITE', 'VARCHAR ', 12),
 ('MISSION_OUTCOME', 'VARCHAR ', 32),
 ('ORBIT', 'VARCHAR ', 11),
 ('PAYLOAD', 'VARCHAR ', 61),
 ('PAYLOAD_MASS__KG_', 'SMALLINT', 2),
 ('TIME__UTC_', 'TIME    ', 3)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql select * from spacex where launch_site LIKE 'CCA%' LIMIT 5

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [22]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) as SUM_PAYLOAD_MASS_KG from SPACEX WHERE CUSTOMER LIKE 'NASA (CRS)'

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [21]:
%sql select AVG(PAYLOAD_MASS__KG_) as AVG_PAYLOAD_MASS_KG from spacex where booster_version like 'F9 v1.1'

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(2928,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [28]:
%sql select date as FIRST_SUCCESSFUL_DATE from spacex where Landing__Outcome like 'Success (ground pad)' order by date ASC limit 1

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
%sql select BOOSTER_VERSION from spacex where Landing__Outcome like 'Success (ground pad)' and PAYLOAD_MASS__KG_ between 4000 and 6000

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [42]:
%sql SELECT SUM(CASE WHEN LANDING__OUTCOME like 'Success%' THEN 1 ELSE 0 END) AS SUCCESSFUL, SUM(CASE WHEN LANDING__OUTCOME like 'Failure%' THEN 1 ELSE 0 END) AS FAILure from spacex

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[(61, 10)]

In [45]:
%sql select SUM(LANDING__OUTCOME) from spacex A, spacex B where A.LANDING__OUTCOME like 'Success%' and B.LANDING__OUTCOME like 'Failure%'

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0203N  A reference to column "LANDING__OUTCOME" is ambiguous.  SQLSTATE=42702  SQLCODE=-203
[SQL: select SUM(LANDING__OUTCOME) from spacex A, spacex B where A.LANDING__OUTCOME like 'Success%' and B.LANDING__OUTCOME like 'Failure%']
(Background on this error at: http://sqlalche.me/e/f405)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [48]:
%sql select BOOSTER_VERSION as maximum_payload_mass_booster from spacex where payload_mass__kg_ = (select max(payload_mass__kg_) from spacex)

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [52]:
%sql select LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE, DATE from spacex where LANDING__OUTCOME like 'Failure (drone ship)' and DATE like '%2015%'

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', datetime.date(2015, 1, 10)),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', datetime.date(2015, 4, 14))]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [94]:
%sql SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) as COUNT from spacex WHERE DATE BETWEEN '2010-06-04' and '2017-03-20'  group by LANDING__OUTCOME order by COUNT DESC

 * ibm_db_sa://jpj09804:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>